<%= render 'shared/navbar2' %>
<div class="container-fluid">
  <div class="row">
    <h1><%= @car_offer.brand %></h1>
    <div class="banner-image-cars"></div>
  </div>
</div>
<div class="container">
  <h3 class="mt-5 ml-3"><%= @car_offer.title %></h3>
  <div class="row">
    <p><%= @car_offer.description %></p>
  </div>
</div>
