// Specific CSS for your home-page
.headers-landing-page{
  text-align: center
}
.take-a-look-btn-landing-page{
  text-align:center;
  margin-top: 14vh;
}

.banner-image-cars{
  background-image: url("https://res.cloudinary.com/ddf9uu7pe/image/upload/v1551178064/rz359fppbjbpmwjpxloq.jpg");
  background-position: center;
  height: calc(100vh - 160px);
  width: 100%;
}
