.create-new-car-form{
  // position: absolute;
  // background:rgb(232, 232, 232);
  text-align: center;
  // width: 40vh;
  // height: 70vh;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: auto;
  padding-top: 10vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 3px;
}

.form-light-grey{
  color:rgb(232, 232, 232) ;

}
