<%= render 'shared/navbar' %>

<!-- NAVBAR HERE NOT ON THE APPLICATION HTML ERB
      CAROUSEL
      TEXT
 -->
<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <div style="text-align: center;">
    <p>Wanna pull up in a sick whip that you can’t afford,
in order to impress people that you don’t know so you can push your
self-esteem ?</p>
<p>No problem we gotcha !</p>
<p>We got the perfect car for every scenario:</p>
<p>An unforgettable ride towards the sunset with your girl and the sound of 700 horses when you hit the gas?</p>
<p>No problem, the Lambo’s just fine for that.</p>
<p>Or maybe you just wanna pose and catch the views of underage teenagers, while being stuck in city traffic, with a car that needs 35L of gasoline?</p>
<p>Easy the Bugatti is the perfect fit if you wanna go 30 in the city with a 1000hp engine.</p>
<p>Got a headache because last night was to wild and you have to show up to brunch with your girlfriends family ?</p>
<p>We’ve all been there.</p>
<p>And because we can relate to that we even offer you the newest Tesla models.
So we can spare you from the headache on your way to brunch.</p>
<p>So what ever you need we got you covered.</p>
<h4>Your Lux Team</h4>
  </div>
</div>
