<div class="headers-landing-page">
<h1>LUXURY CARS</h1>
<h3> MUC | HAM | BLN</h3>
</div>
<div class="take-a-look-btn-landing-page">
<%= link_to "Take a look", (render 'post_home'), class:"btn btn-primary" %>
</div>
